/* Pallette: LightBlue:#81c2d2, LightPurple,#7d6ec4, 
DarkPurple: #36316c DarkNavy:#141425, */
body, html {
    height: 100%;
    background-color: #141425;
    color: white;
}
/* Navbar Section */
.navbar {
    background-color: #141425;
}
.nav-link,.navbar-brand {
  color:white;
}
.navbar .nav-link:hover,.navbar-brand:hover{
  color: #7d6ec4;
}
.navbar .navbar-toggler{
  border-color: white;
}
.navbar .navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar .navbar-toggler:hover{
  border-color:#7d6ec4;
}
.navbar .navbar-toggler-icon:hover{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%237d6ec4' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/* Hero Section */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero .hero-headshot {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #7d6ec4;
  margin-bottom: 20px;
}



/* Projects Section*/
#projects{
  text-align: center;
  align-items: center;
}
#projects img {
  width:100%;
  height: 100%;
  border: #7d6ec4 2px solid;
  border-radius: 5px;
}
#projects .projimg:hover{
  border-color:#81c2d2;
}

.modal{
background-color: #36316c;
color:#81c2d2;

}
.modal-backdrop{
color:#141425;
}
.modal-content {
background-color: #141425;
border-color: #7d6ec4;
}
.modal-header,
.modal-footer {
  border-color: #7d6ec4;
}
.img-thumbnail {
background-color: #81c2d2;
width: 80%;
}
.modal-body {
display: flex;
}
.icon-wrap {
position: absolute;
bottom: 0;
right: 0;
margin: 10px;
}
.modal-icon {
font-size: 2em;
}
.image-wrap {
flex: 0 0 auto;
margin-right: 10px;
}
.text-wrap {
flex: 1;
text-align: left;
}

/* Skills Section */
#skills{
    text-align: center;
    align-items: center;
}
#skills .col-12{
  margin:20px;
}
#skills .skill-icon{
  font-size: 10em;
  color:#81c2d2;
  margin:5px;
}

/* Contact Section */
#contact{
  text-align: center;
  align-items: center;
}
.contact-icon{
  font-size: 4em;
  color:#81c2d2;
}
.contact-icon:hover{
  color:white;
}

/* Footer Section */
#footer{
  background-color: #81c2d2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}